.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.buttonSubmit {
	background: var(--sunny, #ffc802);
}

.buttonSubmit:hover {
	background: var(--yellow, #ffedad);
}

.buttonReset {
	background: var(--white, #ffffff);
}

.buttonReset:hover {
	color: white;
	background: var(--black, #000000);
}
